# Ignore build, install, and log directories in all workspaces
build/
install/
log/

# Temporarily ignoring the bringup and turtle_hunter
src/bringup/
src/turtle_hunter/


# Ignore Dockerfile and any other temporary or config files
Dockerfile
install_additional_libraries.sh
*.swp
ros2install.sh
README.md
